<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stone.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/bingtiao.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/bingkuai.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/wowo1.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wall_dark.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuzi2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/bingtiao2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/mushroom_1.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>素材/ci.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star2.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fangzi2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wowo2.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ice.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fangzi1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Level_30.png</string>
			<key>realTextureFileName</key>
			<string>Level_30.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>