<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bingkuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>bingtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{160,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>
			<key>bingtiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,200},{250,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,31}</string>
			</dict>
			<key>ci.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,200},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>fangzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{100,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,108}</string>
			</dict>
			<key>fangzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,100},{100,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,108}</string>
			</dict>
			<key>ice.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,260},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>
			<key>mushroom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,319},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>wall_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,200},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>wowo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>wowo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chapter3.png</string>
			<key>realTextureFileName</key>
			<string>chapter3.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>