<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inkmoo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,656},{86,160}}</string>
                <key>offset</key>
                <string>{-232,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{86,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{100,160}}</string>
                <key>offset</key>
                <string>{-225,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{100,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,712},{114,162}}</string>
                <key>offset</key>
                <string>{-218,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{114,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,166},{130,162}}</string>
                <key>offset</key>
                <string>{-210,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,120},{130,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,494},{144,160}}</string>
                <key>offset</key>
                <string>{-203,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{144,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,344},{156,162}}</string>
                <key>offset</key>
                <string>{-195,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,658},{154,160}}</string>
                <key>offset</key>
                <string>{-180,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,121},{154,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,672},{154,162}}</string>
                <key>offset</key>
                <string>{-166,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,494},{154,162}}</string>
                <key>offset</key>
                <string>{-151,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,330},{154,162}}</string>
                <key>offset</key>
                <string>{-137,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,166},{156,162}}</string>
                <key>offset</key>
                <string>{-123,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,166},{154,162}}</string>
                <key>offset</key>
                <string>{-108,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{156,162}}</string>
                <key>offset</key>
                <string>{-94,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{154,162}}</string>
                <key>offset</key>
                <string>{-79,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,508},{156,162}}</string>
                <key>offset</key>
                <string>{-66,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,658},{154,162}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,494},{154,162}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,330},{156,162}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,330},{154,162}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,120},{154,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,406},{128,180}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,100},{128,180}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,406},{138,172}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,80},{138,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,378},{146,168}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,57},{146,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{156,162}}</string>
                <key>offset</key>
                <string>{7,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,35},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,174},{146,168}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,57},{146,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,204},{138,172}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,80},{138,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,406},{128,180}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,101},{128,180}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{144,170}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,112},{144,170}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{158,162}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{158,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,588},{174,152}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,131},{174,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,580},{168,156}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{168,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,548},{162,158}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,124},{162,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,166},{156,162}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,406},{128,180}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,100},{128,180}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,406},{138,172}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,80},{138,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,378},{146,168}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,57},{146,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{156,162}}</string>
                <key>offset</key>
                <string>{7,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,35},{156,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,174},{146,168}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,57},{146,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,204},{138,172}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,80},{138,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,406},{128,180}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,101},{128,180}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{144,170}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,112},{144,170}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{158,162}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,120},{158,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,588},{174,152}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,131},{174,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,580},{168,156}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{168,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,548},{162,158}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,124},{162,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{194,200}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,120},{194,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{192,200}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,121},{192,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,610},{190,200}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,121},{190,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,408},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,204},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,406},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,608},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,204},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,120},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,406},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,608},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,204},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,406},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,608},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,204},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{188,200}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{194,200}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,121},{194,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{202,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{202,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{202,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>inkmoo_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{202,200}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inkmoo_flash.png</string>
            <key>size</key>
            <string>{2046,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b669bcd1f34fd5b2728b637ff06d80:34ce61ac554800966f59c25be91096b2:f135099ae5ad9c3d00c27f80ca875ef4$</string>
            <key>textureFileName</key>
            <string>inkmoo_flash.png</string>
        </dict>
    </dict>
</plist>
